<template>
  <div id="btn-wrapper" v-if="$store.state.play">
    <div class="btn"><a @click="reset">reset</a></div>
  </div>
</template>

<script>
export default {
  methods: {
    reset() {
      this.$store.commit("clear");
      this.$store.dispatch("reset");
    },
  },
};
</script>

<style scoped>
#btn-wrapper {
  margin: auto 0;
}
.btn {
  position: relative;
  width: fit-content;
}

.btn a {
  width: fit-content;
  height: 100%;
  color: white;
  line-height: 16px;
  padding: 12px 20px;
  text-decoration: none;
  font-family: sans-serif;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 60px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
  font-weight: 400;
  letter-spacing: 1px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  position: relative;
  backdrop-filter: blur(15px);
}

.btn:hover a {
  letter-spacing: 3px;
}

.btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0%);
  transition: 0.2s;
}

.btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.btn::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 16px;
  height: 10px;
  transform: translateX(-50%);
  background: #ffd61f;
  border-radius: 10px;
  transition: 0.2s;
  transition-delay: 0s;
  box-shadow: 0 0 5px #ffd61f, 0 0 15px #ffd61f, 0 0 30px #ffd61f, 0 0 60px #ffd61f;
}

.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.2s;
}

.btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: -5px;
  width: 16px;
  height: 10px;
  transform: translateX(-50%);
  background: #ffd61f;
  border-radius: 10px;
  transition: 0.2s;
  transition-delay: 0s;
  box-shadow: 0 0 5px #ffd61f, 0 0 15px #ffd61f, 0 0 30px #ffd61f, 0 0 60px #ffd61f;
}

.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.2s;
}
</style>
