<template>
  <el-row>
    <div class="col">
      <div
        class="flip-card"
        v-for="(card, index) in randomCards"
        :key="index"
        :id="index"
        @click="flipCards(index)"
        v-bind:class="{ active: card.imageState }"
      >
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img :src="card.url" />
          </div>
          <div class="flip-card-back">
            <img id="logo" src="/assets/back-logo.png" />
          </div>
        </div>
      </div>
    </div>
  </el-row>
</template>

<script>
export default {
  data() {
    return {
      selectedCardsId: [],
      randomCards: null,
    };
  },
  methods: {
    flipCards(cardIndex) {
      if (this.$store.state.start) {
        if (this.randomCards[cardIndex].url == "./assets/blank.jpg") {
          console.log("matched");
        } else if (this.selectedCardsId.length == 0) {
          console.log("first card");
          this.selectedCardsId.push(cardIndex);
          this.randomCards[cardIndex].imageState = !this.randomCards[cardIndex].imageState;
        } else if (this.selectedCardsId.length == 1 && this.selectedCardsId[0] != cardIndex) {
          this.selectedCardsId.push(cardIndex);
          this.randomCards[this.selectedCardsId[1]].imageState = !this.randomCards[
            this.selectedCardsId[1]
          ].imageState;

          setTimeout(() => {
            if (
              this.randomCards[this.selectedCardsId[0]].url ==
              this.randomCards[this.selectedCardsId[1]].url
            ) {
              console.log("match");
              this.randomCards[this.selectedCardsId[0]].url = this.randomCards[
                this.selectedCardsId[0]
              ].blankUrl;
              this.randomCards[this.selectedCardsId[1]].url = this.randomCards[
                this.selectedCardsId[1]
              ].blankUrl;
              this.selectedCardsId = [];
              this.$store.commit("reducePairs");
              this.$store.commit("incrementMatches");
              this.$store.commit("incrementScore");
              if (this.$store.state.remainingPairs == 0) {
                this.$store.commit("isStart");
                this.$store.commit("isFinish");
                this.$store.commit("clear");
              }
            } else {
              console.log("no match");
              this.randomCards[this.selectedCardsId[0]].imageState = !this.randomCards[
                this.selectedCardsId[0]
              ].imageState;
              this.randomCards[this.selectedCardsId[1]].imageState = !this.randomCards[
                this.selectedCardsId[1]
              ].imageState;
              this.selectedCardsId = [];
            }
          }, 800);
        }
      }
    },
  },
  watch: {
    "$store.state.initialState": function () {
      this.randomCards = this.$store.state.initialState;
    },
  },
  created() {
    this.$store.dispatch("getResults");
    this.randomCards = this.$store.state.initialState;
  },
};
</script>

<style scoped>
.col {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
#logo{
  aspect-ratio: 1 / 1;
  width: 60%;
  margin: auto;
}
.flip-card,
.flip-card-front,
.flip-card-back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 0.8s;
}
.flip-card {
  height: calc(100vh / 5.5);
  aspect-ratio: 1 / 1;
  background-color: transparent;
  perspective: 1000px;
  border-radius: 10px;
}
.flip-card-front,
.flip-card-back,
img {
  border-radius: 10px;
}
img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  /* color: black; */
}

.flip-card-back {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 10px;
  color: white;
}
.flip-card.active .flip-card-front,
.flip-card .flip-card-back {
  transform: rotateY(180deg);
}
.flip-card.active .flip-card-back {
  transform: rotateY(360deg);
}

@media screen and (max-width: 802px) {
  .col {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
  .flip-card {
    height: calc(100vw / 5);
  }
}
</style>
