<template>
  <el-progress
    :text-inside="true"
    :stroke-width="20"
    :percentage="$store.state.percentage"
    :color="colors"
    :format="formating"
  >
  </el-progress>
</template>

<script>
export default {
  data() {
    return {
      colors: [
        { color: "#f56c6c", percentage: 20 },
        { color: "#e6a23c", percentage: 40 },
        { color: "#5cb87a", percentage: 60 },
        { color: "#1989fa", percentage: 80 },
        { color: "#6f7ad3", percentage: 100 },
      ],
    };
  },
  methods: {
    formating: function (percentage) {
      if (percentage > 0) {
        return this.$store.state.timeLeft + " s";
      } else {
        return " ";
      }
    },
  },
};
</script>

<style>
.el-progress {
  margin-bottom: 20px;
  margin-inline: 1em;
}
</style>
