<template>
  <div>
    <span id="score"><span>score: </span> {{ $store.state.score }} </span>
  </div>
</template>

<style scoped>
#score {
  color: rgb(0, 0, 0);
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: rgb(71 97 206 / 36%) 0px 2px 4px;
  white-space: nowrap;
  padding: 12px 20px;
  width: fit-content;
}
</style>
8  H 