<template>
  <div class="common-layout">
    <el-container>
      <el-header>
        <el-row type="flex" class="row-bg" justify="space-between">
          <el-col :span="3">
            <btn-start-pause />
            <btn-rest />
          </el-col>
          <score />
        </el-row>
      </el-header>
      <el-main>
        <pb-rest-time />
        <cards />
      </el-main>
    </el-container>
  </div>
</template>

<script>
import BtnStartPause from "./components/BtnStartPause.vue";
import BtnRest from "./components/BtnRest.vue";
import PbRestTime from "./components/PbRestTime.vue";
import Score from "./components/Score.vue";
import Cards from "./components/Cards.vue";
export default {
  name: "App",
  components: {
    BtnStartPause,
    BtnRest,
    PbRestTime,
    Score,
    Cards,
  },
};
</script>

<style>
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(
    to left bottom,
    #cad4d3,
    #91cbd6,
    #54bce9,
    #37a7fd,
    #7387ff,
    #9c7dfa,
    #bf71f0,
    #de62e1,
    #df82e5,
    #e09ee8,
    #e2b8e9,
    #e4d1e8
  );
  /* background-color: #133e59;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23f5b51b' fill-opacity='0.66' fill-rule='evenodd'/%3E%3C/svg%3E");
 */
}
.el-header {
  color: #333;
  text-align: center;
  line-height: 60px;
}

.el-main {
  color: #333;
  text-align: center;
  padding: 10px 0px 40px;
  padding-top: 10px;
  flex: 1 1 auto;
}

.el-row {
  margin-bottom: 20px;
}
.el-row:last-child {
  margin-bottom: 0;
}
.el-col {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
</style>
